

.latest-games{
    padding-top: 6px;
    text-align: center;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 5px;
    text-decoration:solid;
}
.game-name{
    font-size: large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    padding: 5px;
}
.game-image{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.game-price{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
.name-game-link{
    text-decoration: none;
    color: black;

}
.back-to-top{
    font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
 
}